* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

:root {
  --dark-gray: #1d1d1d;
  --light-blue: #b9faf7;
  --light-yellow: #f8e4ab;
  --light-gray: #b5b5b5;
  --cta-blue: #6497f5;
  --cta-light: #a0bef5;
  --teal: #008080;
}

/* Jumbo Hero */

.jumbo-hero {
  height: 100vh;
  position: relative;
}

.navigation {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Services */

.service-box {
  box-shadow: none;
}

.service-img {
  width: 150px;
}

/* Projects */

.project-img {
  position: relative;
}

.tech-icon {
  position: absolute;
  bottom: 172px;
  right: 0;
}

.tech-icon img {
  width: 80px;
}

.project-btn-mouse {
  transform: rotate(-30deg);
}

/* Article */

.box-border-left {
  border: none;
  border-left: 5px solid var(--dark-gray);
}
.box-border-right {
  border: none;
  border-right: 5px solid;
}

.article-img {
  width: 250px;
}
.article-img img {
  width: 100%;
}

/* Footer */

.connect-icons a i {
  font-size: 2.5rem;
}
